.container{
    border: 1px solid #ddd;
    width: 50%;
    height: 60%;
    padding: 40px;
   border-radius: 10px;
  }
  .container form{
    padding: 40px;
  }
  .username input{
    width: 300px;
    height: 30px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .password input{
    width: 300px;
    height: 30px;
    background-color:whitesmoke;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .submit{
    padding-left: 25%;
    padding-top: 10px;
  }
  .submit input{
    width:150px ;
    height: 30px;
    background-color:skyblue;
    border: 1px solid skyblue;
    border-radius: 5px;
  }
  .name{
    padding-left: 20%;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 80%;
    width: 40%;
  }
  .container1{
    padding-left: 20%;
  }
  .TodoUsername{
    padding: 10px;
  }
  .TodoUsername label{
    color:burlywood ;
  }
  .TodoUsername label span{
    color: skyblue;
  }
  .input{
    width: 300px;height: 30px;background-color: whitesmoke;border: 1px solid whitesmoke;border-radius: 5px
  }
  .submit1{
  background-color: skyblue;
  border: 1px solid skyblue;
  width: 100px;
  height: 30px;
  }
  .table{
    border: 1px solid gray;
    border-radius: 5px;
  }
  .table tr td{
    border: 1px solid grey;
    padding: 10px;
  }
  .tableInfo{
    border: 1px solid white;
  }